// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: transparent;
}