.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;    
  padding: 2em 2.6em;
  color: $white;
  background-color: rgba($brand-color, 0.8);

  &__top {
    text-align: right;
  }

  &__title {
    @include article-title;
    margin-bottom: 9px;
  }

  &__summary {
    line-height: 21px;
  }

  &__text {
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    text-align: center;

    color: rgba(255, 255, 255, 0.9);
  }

  &__link {
    align-self: center;
    padding: 11px 59px;
    color: $white;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;

    &:hover {
      opacity: 0.7;
      color: $white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}