.form {
  display: flex;
  flex-direction: column;

  &__input {
    width: 380px;
    padding: 15px 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    background-color: #ffffff;
    border: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__textarea {
    resize: none;
    height: 109px;
  }
}