.site {
  position: relative;
  min-height: 476px;
  padding: 2.9em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  &--vocalip {
    background-color: #F6F9FC;
    background-image: url('../../img/vocalip.svg');
  }

  &--logicom {
    background-color: #F6F9FC;
    background-image: url('../../img/logicom.svg');
    background-size: 50%;
    background-position: center;
  }

  &--coral {
    background-image: url('../../img/corals.jpg');
  }

  &--goodbodi {
    background-image: url('../../img/goodbody.jpg');
  }

  &__title {
    font-family: Rubik, sans-serif;
    @include article-title;
    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: $brand-color;

    &::before {
      @include pseudo-image;
      width: 25px;
      height: 25px;
      background-image: url('../../img/add.svg');
    }
  }

  &__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &--coral {
      background-image: url("../../img/corals@2x.jpg");
    }

    &--goodbodi {
      background-image: url("../../img/goodbody@2x.jpg");
    }
  }
}

.open {
  .site {
    &__title {
      display: none;
    }
  
    &__description {
      transform: translateY(0);
    }

    &__button {
      background-image: none;
      background-color: transparent;

      &::before {
        height: 5px;
        background-color: #ffffff;
      }
    }
  }
}